/* NOTICIAS INFO */
@media (max-width: 950px) {
  .noticias__info {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .noticias__info {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

/* LOGO Y HEADER RESPONSIVE */
@media (max-width: 350px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header__logo {
    width: 80px;
    height: 100%;
  }
  .header .header__title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 10px;
    font-size: 2rem;
    color: black;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

/* BACKGROUND COLOR */
body {
  /* background-color: #2c2b2f; */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.24' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

/* HEADER */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__logo {
  width: 100px;
  height: 100%;
}

.header .header__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  font-size: 4.5rem;
  color: black;
  font-weight: bold;
}

.navbar {
  font-size: 2rem;
}

/* IMAGENES DE OFERTA PRINCIPAL */
.principal {
  padding-top: 10px;
}

.principal img {
  width: 100%;
  height: 600px;
}

/* NOTICIAS INDEX */
.noticias__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  color: black;
  gap: 10px;
  padding-top: 10px;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.noticias__info img {
  width: 100%;
  height: 200px;
}

.noticias__info h3 {
  font-size: 2rem;
  font-weight: bold;
}

.noticias__info .noticias__info--content a {
  border: 0;
  border: 1px solid black;
  padding: 10px 10px;
  color: black;
  display: inline-block;
  cursor: pointer;
  background: white;
}

/* PODCAST */
#podcast {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(0, 174, 255, 0.493)));
  background-image: linear-gradient(to bottom, white, rgba(0, 174, 255, 0.493));
  text-align: center;
  padding-top: 30px;
}

#podcast h2 {
  padding: 10px;
  font-size: 3rem;
}

#podcast iframe {
  padding: 20px;
}

/* SECTION INDEX NOSOTROS */
.nosotros__texto h3 {
  grid-area: titulo;
  font-size: 3rem;
}

.nosotros__texto p {
  grid-area: texto;
  font-size: 1.5rem;
}

.nosotros__texto .nosotros__texto--fotoStraka {
  grid-area: foto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Nosotros {
  text-align: center;
}

.nosotros {
  background: white;
}

/* SOBRE NOSOTROS  */
@media all and (max-width: 768px) {
  .nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media all and (min-width: 769px) {
  .nosotros__texto {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "titulo foto" "texto foto";
  }
}

/* NOTICIAS INFO */
@media (max-width: 950px) {
  .noticias__info {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .noticias__info {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

/* LOGO Y HEADER RESPONSIVE */
@media (max-width: 350px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header__logo {
    width: 80px;
    height: 100%;
  }
  .header .header__title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 10px;
    font-size: 2rem;
    color: black;
  }
}

/* FOOTER */
footer {
  background-image: -webkit-gradient(linear, left bottom, left top, from(grey), to(white));
  background-image: linear-gradient(to top, grey, white);
}

footer .footer__redes {
  text-align: right;
}

@media all and (max-width: 768px) {
  .footer__redes {
    width: 100px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

/* CONTACTO */
#contacto {
  background-image: url(../imagenes/argentinabanderacsgo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacto__formulario {
  border-color: black;
  border-style: solid;
  border-width: 4px;
  width: 400px;
  height: auto;
  margin: auto;
  background-color: rgba(250, 235, 215, 0.856);
  text-align: center;
  font-size: 1.5rem;
}

@media all and (max-width: 450px) {
  .contacto__formulario {
    border-color: black;
    border-style: solid;
    border-width: 4px;
    width: auto;
    height: auto;
    margin: auto;
    background-color: rgba(250, 235, 215, 0.856);
    text-align: center;
    font-size: 1rem;
  }
}

/* SECCION DE SKINS */
.main__skins {
  display: -ms-grid;
  display: grid;
  gap: 5px;
}

.main_skins--armas {
  /* height: 300px; */
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* img {
        width: 100%;
        height: 100%;
    } */
/* SECCION CUCHILLOS */
.section__cuchillo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[2];
      grid-template-columns: repeat(2, 2fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "tituloCuchillos tituloCuchillos" "cuchilloImagen infoCuchillos" "cuchilloimagen1 infoCuchillos1" "fotosCuchillos2 infoCuchillos2" "fotoCuchillos3 infoCuchillos3";
}

.section__cuchillo h3 {
  font-size: 3rem;
}

.section__cuchillo p {
  font-size: 1.3rem;
}

.section__cuchillo--titulo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: tituloCuchillos;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.section__cuchillo--foto1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: cuchilloImagen;
}

.section__cuchillo--info1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: infoCuchillos;
}

.section__cuchillo--foto2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: cuchilloimagen1;
}

.section__cuchillo--info2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: infoCuchillos1;
}

.section__cuchillo--foto3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: fotosCuchillos2;
}

.section__cuchillo--info3 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: infoCuchillos2;
}

.section__cuchillo--foto4 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: fotoCuchillos3;
}

.section__cuchillo--info4 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: infoCuchillos3;
}

/* POSICIONAMIENTO FOTOS Y TEXTO */
.section__cuchillo--foto1, .section__cuchillo--foto2, .section__cuchillo--foto3, .section__cuchillo--foto4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section__cuchillo--info1, .section__cuchillo--info2, .section__cuchillo--info3, .section__cuchillo--info4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ZOOM A CUCHILLOS */
.section__cuchillo img {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.section__cuchillo img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.section__cuchillo {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(28, 228, 255, 0.582)), to(white));
  background-image: linear-gradient(to left, rgba(28, 228, 255, 0.582), white);
}

/* SKINS */
@media all and (max-width: 768px) {
  .main__skins {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[12];
        grid-template-rows: repeat(12, 1fr);
  }
  img {
    width: 100%;
    height: 100%;
  }
}

@media all and (min-width: 769px) {
  .main__skins {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .main__skins img {
    width: 100%;
    height: 100%;
  }
}

@media all and (max-width: 768px) {
  .footer__redes {
    width: 100px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

/* PARTIDAS */
#partidas {
  background: white;
  background: linear-gradient(142deg, white 60%, white 72%, black 100%);
}

.partidas__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: beige;
  padding: 10px;
  margin-top: 10px;
}

.partidas__contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* border: 1px solid black; */
  gap: 10px;
  font-size: 3rem;
}

.partidas__contenido--9zCoscu {
  padding-top: 20px;
}

.partidas__contenido img {
  padding-bottom: 40px;
  padding-left: 30px;
}

.partidas {
  padding-left: 10px;
  padding-top: 10px;
  display: block;
  text-align: center;
}

/* RESPONSIVE PARA PARTIDAS */
@media all and (max-width: 768px) {
  .partidas__contenido {
    display: -ms-grid;
    display: grid;
  }
  .partidas__contenido--logo9z {
    width: auto;
    height: auto;
  }
  .partidas__contenido--mvp1 {
    display: none;
  }
  iframe {
    width: 300px;
    height: auto;
  }
}

/* SERVERS  */
.servers {
  text-align: center;
}

.servers h2 {
  padding: 1px;
  background: beige;
  margin-top: 15px;
  font-size: 3rem;
}

.servers img {
  padding: 10px;
}

.servers .servers__listas {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (1fr)[auto-fit];
      grid-template-columns: repeat(auto-fit, 1fr);
  padding-top: 20px;
  font-size: 1.5rem;
}

.servers .servers__listas--info {
  border: 1px solid black;
  border-radius: 10px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servers .servers__listas--none {
  list-style: none;
}

.servers__caracteristicas--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-size: 1.5rem;
}

.mapas__fotos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[auto-fit];
      grid-template-columns: repeat(auto-fit, 1fr);
}

.mapas__fotos .mapas__fotos--info {
  border: 1px solid black;
}

.mapas__titulo {
  text-align: center;
  padding: 1px;
  background: beige;
  margin-top: 15px;
}

/* COLORES PARA CUADROS DE SERVER */
#servers__listas--color1 {
  background: white;
  background: linear-gradient(153deg, white 46%, #001fff 100%, white 100%);
}

#servers__listas--color2 {
  background: white;
  background: linear-gradient(153deg, white 46%, #12ff00 100%, white 100%);
}

#servers__listas--color3 {
  background: white;
  background: linear-gradient(153deg, white 46%, red 100%, white 100%);
}

#servers__listas--color4 {
  background: white;
  background: linear-gradient(153deg, white 46%, #ffc900 100%, white 100%);
}

/* RESPOSIVE LISTAS SERVERS */
@media all and (min-width: 769px) {
  .servers__listas {
    display: -ms-grid;
    display: grid;
    gap: 10px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    padding-top: 20px;
  }
}

@media all and (min-width: 992px) {
  .servers__listas {
    display: -ms-grid;
    display: grid;
    gap: 10px;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    padding-top: 20px;
  }
}

@media all and (min-width: 769px) {
  .mapas__fotos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
    gap: 1px;
  }
  .mapas__fotos--info {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media all and (max-width: 768px) {
  .servers__caracteristicas--info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
  }
  .servers__caracteristicas--info img {
    width: 10px;
    height: auto;
  }
  .mapas__fotos {
    width: 200px;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mapas__fotos--info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#precios {
  font-size: 1.5rem;
}

@media all and (min-width: 769px) {
  #precios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 30px;
    gap: 10px;
  }
}

.card {
  background: white;
  background: linear-gradient(142deg, white 90%, red 100%);
}
/*# sourceMappingURL=styles.css.map */